<h1><%= quiz.pregunta %></h1>
<p>
  Has respondido <%= quiz.userResponse %>.
</p>
<p>
  La respuesta es <%= quiz.respuesta %>.
</p>
<h3 style="color:<%= quiz.style %>"><%= quiz.responseMessage %></h3>
<p><a href="/quizes/random">Volver a Jugar !!!</a></p>
