<h1><%= question %></h1>
<p>
  Has respondido <%= userResponse %>.
</p>
<p>
  La respuesta es <%= expected %>.
</p>
<h3 style="color:<%= style %>"><%= responseMessage %></h3>
<p><a href="/quizes/question">Volver a Jugar !!!</a></p>
