<h1><%= pregunta %></h1>
<p>
  Has respondido <%= userResponse %>.
</p>
<p>
  La respuesta es <%= respuesta %>.
</p>
<h3 style="color:<%= style %>"><%= responseMessage %></h3>
<p><a href="/quizes/random">Volver a Jugar !!!</a></p>
