<h1><%= quiz.pregunta %></h1>
<form enctype="application/x-www-form-urlencoded" method="get" action="/quizes/<%= quiz.id %>/answer">
  <input type="text" name="response" placeholder="Escriba su respuesta ..">
  <button type="submit">Contestar</button>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button type="button">Nuevo comentario</button></a></p>
<% for(i in quiz.Comments){ %>
  <% if(quiz.Comments[i].publicado || session.user) { %>
      <p> - <%= quiz.Comments[i].texto %>
      <%if(session.user && !quiz.Comments[i].publicado){ %>
        <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish">
        <button>Publicar</button></a>
      <% } %>
      </p>
  <% } %>
<% } %>
